<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:ctx="http://www.springframework.org/schema/context"
    xmlns:sec="http://safr.sourceforge.net/schema/core"
    xsi:schemaLocation="
http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
http://www.springframework.org/schema/context 
http://www.springframework.org/schema/context/spring-context-2.5.xsd
http://safr.sourceforge.net/schema/core 
http://safr.sourceforge.net/schema/core/spring-safr-core-1.0.xsd">

    <ctx:component-scan base-package="net.sourceforge.safr.sample,net.sourceforge.safr.jaas"/>
    
    <sec:annotation-driven />

    <bean class="net.sourceforge.safr.jaas.policy.InstancePolicyInstaller" />

	<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
		<property name="prefix" value="/WEB-INF/jsp/"/>
		<property name="suffix" value=".jsp"/>
	</bean>
	
	<bean id="urlMapping" class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
        <property name="mappings">
            <props>
                <prop key="/listNotebooks.htm">listNotebooksController</prop>
                <prop key="/listPermissions.htm">listPermissionsController</prop>
                <prop key="/deleteNotebook.htm">deleteNotebookController</prop>
                <prop key="/deleteEntry.htm">deleteEntryController</prop>
                <prop key="/detailNotebook.htm">detailNotebookController</prop>
                <prop key="/detailPermission.htm">detailPermissionController</prop>
            </props>
        </property>
    </bean>
    
    <bean id="deleteNotebookController" parent="listNotebooksController"
        class="net.sourceforge.safr.sample.web.DeleteNotebookController">
    </bean>
    
    <bean id="deleteEntryController" parent="detailNotebookController" 
        class="net.sourceforge.safr.sample.web.DeleteEntryController" >
    </bean>
    
    <bean id="listPermissionsController"
        class="net.sourceforge.safr.sample.web.ListPermissionsController">
    </bean>

    <bean id="listNotebooksController" 
        class="net.sourceforge.safr.sample.web.ListNotebooksController">
        <property name="commandClass" value="net.sourceforge.safr.sample.web.support.NotebookIdContainer"/>
        <property name="commandName" value="nbid"/>
        <property name="formView" value="notebookList"/>
        <property name="successView" value="notebookList"/>
        <property name="sessionForm" value="false"/>
    </bean>

    <bean id="detailNotebookController" 
        class="net.sourceforge.safr.sample.web.DetailNotebookController">
        <property name="commandClass" value="net.sourceforge.safr.sample.notebook.domain.Entry"/>
        <property name="commandName" value="entry"/>
        <property name="formView" value="notebookDetails"/>
        <property name="successView" value="notebookDetails"/>
        <property name="sessionForm" value="false"/>
    </bean>

    <bean id="detailPermissionController" 
        class="net.sourceforge.safr.sample.web.DetailPermissionController">
        <property name="commandName" value="assignment"/>
        <property name="formView" value="permissionDetails"/>
        <property name="successView" value="permissionList"/>
        <property name="sessionForm" value="false"/>
    </bean>

</beans>